html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: #333;
	margin: 0;
	padding: 8px;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}


/*colors - light theme*/
:root {
	--primary-background: midnightblue;
	--active-primary-background: dodgerblue;
	--active-secondary-background: lightgray;
	--body-background: white;
	--text-color: #161616;
	--white-text-color: white;
	--link-color: #0d6efd;
	--visited-link-color: rgb(0,80,160);
	--input-background: white;
	--input-border-color: silver;
}

/* Overrides colors in :root */
/*colors - dark theme*/
html.dark {

	--primary-background: #2d2d2d;
	--active-primary-background: #737373;
	--active-secondary-background: #414141;
	--body-background: #161616;
	--text-color: #d6d6d6;
	--white-text-color: #d6d6d6;
	--link-color: #8f8f8f;
	--visited-link-color: #727272;
	--input-background: #282828;
	--input-border-color: #5d5d5d;

	/* Dark theme scrollbar styling - firefox */
	scrollbar-color: darkgrey rgb(16, 16, 16)
}

body {
	background-color: var(--body-background) !important;
	margin: 0 !important;
	padding: 0 !important;
}

input {
	background-color: var(--input-background);
	color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
b,
li,
label,
.text {
	color: var(--text-color);
}

/* Link styling */
a {
	color: var(--link-color);
}
a:visited {
	color: var(--visited-link-color);
}


/* Dark theme scrollbar styling - chrome */
html.dark *::-webkit-scrollbar {
	width: 1em;
}

html.dark *::-webkit-scrollbar-track,
html.dark *::-webkit-scrollbar-corner{
	background-color: rgb(16, 16, 16);
}

html.dark *::-webkit-scrollbar-thumb {
	background-color: darkgrey;
	outline: 1px solid darkgrey;
}

/* Input styling */
.input {
	border: none;
	outline: none;
	border-bottom: 1px solid var(--input-border-color);
}

.input:focus {
	border-bottom: 1px solid var(--text-color);
}


/*a {*/
/*	color: rgb(0,100,200);*/
/*	text-decoration: none;*/
/*}*/

/*a:hover {*/
/*	text-decoration: underline;*/
/*}*/

/*a:visited {*/
/*	color: rgb(0,80,160);*/
/*}*/

/*label {*/
/*	display: block;*/
/*}*/

/*input, button, select, textarea {*/
/*	font-family: inherit;*/
/*	font-size: inherit;*/
/*	-webkit-padding: 0.4em 0;*/
/*	padding: 0.4em;*/
/*	margin: 0 0 0.5em 0;*/
/*	box-sizing: border-box;*/
/*	border: 1px solid #ccc;*/
/*	border-radius: 2px;*/
/*}*/

/*input:disabled {*/
/*	color: #ccc;*/
/*}*/

/*button {*/
/*	color: #333;*/
/*	background-color: #f4f4f4;*/
/*	outline: none;*/
/*}*/

/*button:disabled {*/
/*	color: #999;*/
/*}*/

/*button:not(:disabled):active {*/
/*	background-color: #ddd;*/
/*}*/

/*button:focus {*/
/*	border-color: #666;*/
/*}*/
